<div class="panel">
  <% if !current_user %>
    <h4>Block the Haters</h4>
    <p>Share your block list among twitter friends for a safer timeline.</p>
    <p><i class="fi-social-twitter"></i> <a href='/auth/twitter'>Sign in with Twitter to get started</a></p>
  <% else %>

  <h2 class="text-center"><small>Hello <%= "@#{twitter_name}" %>.</small></h2>
  <hr>

  <div class="row">
    <div class="small-6 columns text-center">
      <h4>See who you've blocked.</h4>
      <h4>Share blocks with friends.</h4>
      <p>
        <a href="/blocks" class="button">See and share</a>
        <br />
        (This may take a while to load.)
      </p>
    </div>

    <div class="small-6 columns border-left">
      <h4 class="text-center">Upload and block</h4>
      <form action='/upload' method='post' enctype='multipart/form-data' class="text-center">
        <input type="file" accept='application/json' name='file'>
        <input type="submit" class="button">
      </form>

      <p>Ask a friend to use this site to generate a list of their blocked users and share it with you.</p>
      <p>Then, upload it here to block the same users. You can review the list before blocking.</p>
<!--       <p>Or make your own. It needs to be a json file formatted like below. screen_name or user_id is required.</p>

      <div class="panel">
        <code>
          [ {
          screen_name: "dianagliu",
          user_id: 1234567890
          } ]
        </code>
      </div> -->
    </div>
  </div>
  <% end %>
</div>



