<html>
<head>
  <title>Block the Haters</title>
</head>
  <body>

  <div>
    <h1>Haters to the left.</h1>
    <p>Share your blocked list with your twitter crew for a saner timeline.</p>
  </div>


  </body>
</html>
