<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8' />
    <meta content='width=device-width, initial-scale=1.0' name='viewport' />
    <title>Block the Haters</title>
    <link href='/assets/app.css' rel='stylesheet' />
    <script src='/assets/vendor/custom.modernizr.js'></script>
    <script type='text/javascript'>
      //<![CDATA[
      document.write('<script src=' +
        ('__proto__' in {} ? '/assets/vendor/zepto' : '/assets/vendor/jquery') + '.js><\/script>');
      //]]>
    </script>
  <script src='/assets/app.js'></script>
  </head>
  <body>
    <div class="row">
      <%= yield %>
    </div>
  </body>
</html>
