<div class="panel">
  <h1>Haters to the left.</h1>
  <p>Share your block list with your twitter crew for a saner timeline.</p>
</div>

<div class="row">
  <% if !current_user %>
    <a href='/auth/twitter'>Sign in with Twitter to get started</a>
    <% else %>
    <h2>Hello <%= "@#{@screen_name}" %>.</h2>
    <p><a href="/blocks">See who you have blocked*.</a></p>
    <p>or</p>
    <p>Upload a list of users to block. Ask a friend to use this site to generate a list of their blocked users and share it with you. Or make your own. It needs to be a json file formatted like below. screen_name or user_id is required.</p>
    <code>
      [ {
      screen_name: "dianagliu",
      user_id: 1234567890
      } ]
    </code>

  <%= form_tag upload_blocks_url, multipart: true do %>
    <%= file_field_tag 'file', accept: 'application/json' %>
    <%= submit_tag 'Upload' %>
  <% end %>

    <p>
      <small>*this may take a while to load depending on the size of your block list</small>
    </p>
    <% end %>
</div>

