<h1>You have blocked <%= block_list.count %> users.</h1>
<a href="export.json">Export them so other people can block them too.</a>
<ul>
  <% block_list.each do |u| %>
    <li><%= u[:screen_name] %>, <%= u[:user_id] %></li>
  <% end %>
</ul>